In [43]:
import pandas as pd
import numpy as np

In [44]:
z_flood = pd.read_csv('/users/johnstonkirimo/Projects/Zesty/data/z_flood.csv')

In [45]:
z_flood.head()

,property_id,Flood occurrence score,Flood damage score,Insured value,Policy Annual Premium,Unnamed: 5
0,0,3.0,6,"$400,400.00",$973.70,NaN
1,1,1.0,6,"$194,524.00",$470.40,NaN
2,2,6.0,8,"$1,146,752.00","$1,978.80",NaN
3,3,6.0,10,"$664,357.00","$1,771.65",NaN
4,4,5.0,10,"$1,500,000.00","$7,483.84",NaN

In [46]:
z_flood.columns

Index(['property_id', 'Flood occurrence score', 'Flood damage score',
       'Insured value', 'Policy Annual Premium', 'Unnamed: 5'],
      dtype='object')

In [47]:
df = z_flood.rename(columns={'Flood occurrence score': 'flood_occurrence_score','Flood damage score':'flood_damage_score','Insured value': 'insured_value','Policy Annual Premium':'policy_annual_premium'})

In [48]:
df.head()

,property_id,flood_occurrence_score,flood_damage_score,insured_value,policy_annual_premium,Unnamed: 5
0,0,3.0,6,"$400,400.00",$973.70,NaN
1,1,1.0,6,"$194,524.00",$470.40,NaN
2,2,6.0,8,"$1,146,752.00","$1,978.80",NaN
3,3,6.0,10,"$664,357.00","$1,771.65",NaN
4,4,5.0,10,"$1,500,000.00","$7,483.84",NaN

In [50]:
df['p_flood'] = np.where(df.flood_occurrence_score == 1.0,0.00,
                        np.where(df.flood_occurrence_score == 2.0, 0.01,
                                np.where(df.flood_occurrence_score == 3.0, 0.01,
                                        np.where(df.flood_occurrence_score == 4.0, 0.02,
                                                np.where(df.flood_occurrence_score == 5.0,0.03,
                                                        np.where(df.flood_occurrence_score == 6.0,0.03,
                                                                np.where(df.flood_occurrence_score == 7.0,0.04,
                                                                        np.where(df.flood_occurrence_score == 8.0, 0.05,
                                                                                np.where(df.flood_occurrence_score == 9.0, 0.06,0.07)))))))))

In [52]:
df['p_flood'].value_counts()

0.00    62365
0.03    30208
0.01    26826
0.04    22830
0.05    14436
0.02    12410
0.06     4223
0.07      680
Name: p_flood, dtype: int64

In [53]:
df.head(3)

,property_id,flood_occurrence_score,flood_damage_score,insured_value,policy_annual_premium,Unnamed: 5,p_flood
0,0,3.0,6,"$400,400.00",$973.70,NaN,0.01
1,1,1.0,6,"$194,524.00",$470.40,NaN,0.00
2,2,6.0,8,"$1,146,752.00","$1,978.80",NaN,0.03

In [54]:
df.dtypes

property_id                 int64
flood_occurrence_score    float64
flood_damage_score          int64
insured_value              object
policy_annual_premium      object
Unnamed: 5                float64
p_flood                   float64
dtype: object

In [57]:
df.to_excel('z_flood_v1.xlsx')